[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Multi-TZ gnome-shell clock plugin
[access "refs/*"]
	owner = group user/Michele Gualco (mgualco-contractor)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Michele Gualco (mgualco-contractor)
	label-Verified = -1..+1 group user/Michele Gualco (mgualco-contractor)
	push = group user/Michele Gualco (mgualco-contractor)
	read = group user/Michele Gualco (mgualco-contractor)
	rebase = group user/Michele Gualco (mgualco-contractor)
	removeReviewer = group user/Michele Gualco (mgualco-contractor)
	submit = group user/Michele Gualco (mgualco-contractor)
[access "refs/heads/*"]
	create = group user/Michele Gualco (mgualco-contractor)
	push = +force group user/Michele Gualco (mgualco-contractor)
	pushMerge = group user/Michele Gualco (mgualco-contractor)
	read = group user/Michele Gualco (mgualco-contractor)
[access "refs/tags/*"]
	push = group user/Michele Gualco (mgualco-contractor)
	push = +force group user/Michele Gualco (mgualco-contractor)
